/*
	#ff9400
	#00abff
 */

@import "../fonts/boxed/webfont.css";

*							{ margin: 0; padding: 0; }

html, body					{ font: 100% boxed,sans-serif; background: #fff; color: #000; }
input, textarea, select		{ font: 100% boxed,sans-serif; }
a img						{ border: none; }
img							{ vertical-align: middle; }
table *						{ font-size: 100%; }
h1							{  }
h2							{ font-size: 130%; color: #404040; margin-bottom: 0.5em; }

p							{ font-size: 1em; line-height: 1.5em; margin-bottom: 0.5em; }
a							{ text-decoration: none; color: #375570; font-weight: bold; }
a:hover,
a:active					{ text-decoration: underline; }

#page						{ position: relative; }
#header						{ margin-top: 6em; }
#banner						{ width: 64em; margin: 0 auto; }
#logo						{ float: left; }
#tagline					{ float: right; padding-top: 86px; }

#main						{ width: 64em; margin: 1em auto 0 auto; clear: both; }
#content					{  }
#footer						{  }

#mainmenu_level_0 ul		{ list-style-type: none; font-size: 120%; float: right; margin-top: -0.85em; }
#mainmenu_level_0 li		{ float: left; margin-left: 1.5em; text-transform: lowercase; padding-bottom: 60px; }
#mainmenu_level_0 li.active	{ color: #4d5960; background: url(../img/site/active_menu_bg.png) no-repeat bottom center; }
#mainmenu_level_0 a			{ text-decoration: none; color: #ff9400; font-weight: normal; }
#mainmenu_level_0 a:hover,
#mainmenu_level_0 a:active	{ color: #888; }
#auxmenu					{ float: right; }
#auxmenu ul					{ list-style-type: none; }

.thumbnail					{ padding: 2px; border: solid 1px #ddcbbe; }
.clearFloat					{ clear: both; }
.separator					{ height: 0; line-height: 0; width: 33.3%; overflow: hidden; border-bottom: dotted 0.25em #808080; margin: 1em auto; }


/* splash */
div.teaserBox				{ float: left; width: 30%; margin-left: 5%; }
div.teaserBox:first-child	{ margin-left: 0; }

div.teaserBox .thumb			{ min-height: 200px; margin: 1em 0; }
div.teaserBox h3				{ font-weight: normal; font-size: 120%; font-style: italic; color: #00abff; }
div.teaserBox .thumb .favicon	{ display: inline-block; margin: 1em 0 0 1em; padding: 4px; background: #fff; border-radius: 4px; box-shadow: 0 0 6px #00abff; }