@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button:focus-visible {
        @apply outline-black;
    }

    [v-cloak] {
        @apply hidden;
    }

    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        src: local(''),
        url('@/assets/fonts/Inter/Inter-Regular.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Inter';
        font-style: italic;
        font-weight: 400;
        src: local(''),
        url('@/assets/fonts/Inter/Inter-Italic.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        src: local(''),
        url('@/assets/fonts/Inter/Inter-Bold.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Inter';
        font-style: italic;
        font-weight: 700;
        src: local(''),
        url('@/assets/fonts/Inter/Inter-BoldItalic.woff2') format('woff2');
    }
}

@layer components {
    .autocomplete-item[aria-selected="true"] {
        @apply bg-vxvue-700 text-white;
    }
    .button {
        @apply inline-flex items-center justify-center px-8 py-2 border border-transparent text-base font-medium rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2;
    }
    .button.success {
        @apply bg-green-600 hover:bg-green-500 focus:ring-green-500 text-white
    }
    .button.alert {
        @apply bg-red-700 hover:bg-red-600 focus:ring-red-600 text-white
    }
    .disabled {
        @apply text-stone-700 !bg-stone-200 hover:!text-stone-700 hover:!bg-stone-300;
    }
    .chip {
        @apply rounded-l-full rounded-r-full bg-stone-300 py-1 px-4;
    }
    .icon-link {
        @apply text-vxvue-700 border-2 p-1 rounded border-vxvue-700 hover:border-vxvue-500 transition duration-300;
    }
    label.required {
        @apply font-bold
    }
}

/* define the default vx-vue color set */

:root {
    --vxvue-color: #0089CC;
    --vxvue-color-50: #B3E6FF;
    --vxvue-color-100: #70D0FF;
    --vxvue-color-200: #47C3FF;
    --vxvue-color-300: #1FB5FF;
    --vxvue-color-400: #00A4F5;
    --vxvue-color-500: var(--vxvue-color);
    --vxvue-color-600: #006394;
    --vxvue-color-700: #003E5C;
    --vxvue-color-800: #001824;
    --vxvue-color-900: #000000;

    --vxvue-highlight: #ff9400;
    --vxvue-highlight-50: #FFE1B8;
    --vxvue-highlight-100: #FFD8A3;
    --vxvue-highlight-200: #FFC77A;
    --vxvue-highlight-300: #FFB652;
    --vxvue-highlight-400: #FFA529;
    --vxvue-highlight-500: var(--vxvue-highlight);
    --vxvue-highlight-600: #C77300;
    --vxvue-highlight-700: #8F5300;
    --vxvue-highlight-800: #573200;
    --vxvue-highlight-900: #1F1200;

    --warn-color: #e2b625;
    --error-color: #b51212;
    --info-color: #0080f0;
}

/* animations */

.appear-enter-from,
.appear-leave-to
{
    @apply transform opacity-0 scale-95;
}
.appear-enter-to,
.appear-leave-from {
    @apply transform opacity-100 scale-100;
}
.appear-enter-active {
    @apply transition ease-out duration-100;
}
.appear-leave-active {
    @apply transition ease-out duration-75;
}

.slide-enter-from,
.slide-leave-to {
    @apply translate-x-1/4 opacity-0;
}
.slide-enter-to,
.slide-leave-from {
    @apply translate-x-0 opacity-100;
}
.slide-enter-active {
    @apply duration-300 ease-out;
}
.slide-leave-active {
    @apply duration-200 ease-in;
}

.fade-enter-to,
.fade-leave-from
{
    @apply opacity-100;
}
.fade-enter-from,
.fade-leave-to {
    @apply opacity-0;
}
.fade-enter-active,
.fade-leave-active {
    @apply transition-opacity;
}
