@CHARSET "UTF-8";

$primary-color: #0089CC;
$secondary-color: #FF9400;
$base-font-family: "verbcond";

@import "spectre/spectre";
@import "spectre/spectre-icons";
@import "spectre/spectre-exp";

@import "mixin/webfont";
@include font-face(icomoon, "../fonts/icomoon/icomoon", null, null, woff woff2);
@include font-face(verbcond, "../fonts/verb_condensed/VerbCondRegular", normal, normal, woff woff2);
@include font-face(verbcond, "../fonts/verb_condensed/VerbCondRegular-Italic", normal, italic, woff woff2);
@include font-face(verbcond, "../fonts/verb_condensed/VerbCondBold", bold, normal, woff woff2);
@include font-face(verbcond, "../fonts/verb_condensed/VerbCondBold-Italic", bold, italic, woff woff2);

.nav-item {
  & > span {
    padding: $unit-1 $unit-2;
  }
  &.active > span {
    font-weight: bold;
  }
}

.vxweb-navbar {
  @extend .navbar;
  position: fixed;
  width: 100%;
  z-index: 400;
  background: $gray-color-light;
}

.vxweb-content.off-canvas-content {
  padding: 3rem 1rem;
}

.vxweb-sidebar {
  padding: 3rem 1rem;
}

.with-webfont-icon-left {
  &:before {
    font-family: icomoon;
    content: attr(data-icon);
    display: inline-block;
    padding-right: 0.5rem;
  }
}

.with-webfont-icon-right {
  &:after {
    font-family: icomoon;
    content: attr(data-icon);
    display: inline-block;
    padding-left: 0.5rem;
  }
}

.webfont-icon-only {
  display: inline-block;
  &:after {
    font-family: icomoon;
    content: attr(data-icon);
  }
}

.text-smaller {
  font-size: 80%;
}

.form-content {
  max-width: 50rem;
}

.error {
  @extend .is-error;
}