@CHARSET "UTF-8";

$primary-color: #0089cc;
$secondary-color: #A6DBFF;
$accent-color: #ffa200;
$dark-color: #24282a;

$base-font-family: "IBMPlexSans";

$sidebar-width: 10rem;

@import "mixin/webfont";
@import "vx/functions";
@import "vx/icon_variables";
@import "vx/tree";
@import "vx/date-input";
@import "vx/slick-sort";
@import "vx/circular-progress";

@import "../node_modules/spectre.css/src/spectre";
@import "../node_modules/spectre.css/src/spectre-exp";
@import "spectre-mods/spectre-mods";
@import "vx/cookie-consent";

@include font-face(icomoon, "../fonts/icomoon/icomoon", null, null, woff woff2);

@include font-face(IBMPlexSansCondensed, "../fonts/IBM Plex Sans Condensed/IBMPlexSansCondensed-Regular", normal, normal, woff woff2);
@include font-face(IBMPlexSansCondensed, "../fonts/IBM Plex Sans Condensed/IBMPlexSansCondensed-Italic", normal, italic, woff woff2);
@include font-face(IBMPlexSansCondensed, "../fonts/IBM Plex Sans Condensed/IBMPlexSansCondensed-Bold", bold, normal, woff woff2);
@include font-face(IBMPlexSansCondensed, "../fonts/IBM Plex Sans Condensed/IBMPlexSansCondensed-BoldItalic", bold, italic, woff woff2);

@include font-face(IBMPlexSans, "../fonts/IBM Plex Sans/IBMPlexSans-Regular", normal, normal, woff woff2);
@include font-face(IBMPlexSans, "../fonts/IBM Plex Sans/IBMPlexSans-Italic", normal, italic, woff woff2);
@include font-face(IBMPlexSans, "../fonts/IBM Plex Sans/IBMPlexSans-Bold", bold, normal, woff woff2);
@include font-face(IBMPlexSans, "../fonts/IBM Plex Sans/IBMPlexSans-BoldItalic", bold, italic, woff woff2);

[v-cloak] {
  & > * {
    display: none !important;
  }
  &:before {
    content: '...'
  }
}

/*
  additions and extensions to spectre.css
*/
.modal {
  &.modal-lg {
    .modal-overlay {
      background: rgba($bg-color, .75);
    }
  }
}

.navbar {
  background: $gray-color-light;
  padding: $unit-2;

  .navbar-section:first-child {
    & > .btn {
      margin-right: $unit-2;
    }
  }

  .navbar-section:last-child {
    & > .btn {
      margin-left: $unit-2;
    }
  }
}

.modal-container {
  max-height: 90vh;
}

.nav-item {
  & > span {
    padding: $unit-1 $unit-2;
  }
  &.active > span {
    font-weight: bold;
  }
}

.with-webfont-icon-left {
  &:before {
    font-family: icomoon;
    content: attr(data-icon);
    display: inline-block;
    padding-right: 0.4rem;
  }
}

.with-webfont-icon-right {
  &:after {
    font-family: icomoon;
    content: attr(data-icon);
    display: inline-block;
    padding-left: 0.4rem;
  }
}

.webfont-icon-only {
  display: inline-block;
  font-family: icomoon;

  &.tooltip:after {
    font-family: $base-font-family;
  }
}

a.webfont-icon-only {
  text-decoration: none;
}

.text-smaller {
  font-size: 80%;
}

.form-content {
  max-width: 50rem;
}

.error {
  @extend .is-error;
}

.tab-item.disabled {
  a:hover {
    cursor: not-allowed;
  }
}

// custom layout

html, body {
  height: 100%;
}

.single-column {
  width: 100%;
  max-width: 640px;
  padding: $unit-10 $unit-5;
  margin: 0 auto;
}

#page {
  height: 100%;

  & > .columns {
    height: 100%;
    align-items: stretch;
  }
}

#sidebar {
  padding: 4rem 1rem 1rem 1rem;
  border-right: solid $unit-o $gray-color-light;
  max-width: $sidebar-width;
  transition: margin-left 0.2s ease-in-out;

  &.hidden {
    margin-left: -$sidebar-width;
  }

  & > .nav {
    position: fixed;
  }
}

#content {
  padding: 4rem 1rem 1rem 1rem;
}

#messageBox {
  position: fixed;
  z-index: $zindex-4 + 1;
  max-width: 30rem;
  left: 50%;
  transform: translateX(-50%);
  top: -2rem;
  opacity: 0;
  transition: top 0.5s ease-in-out, opacity 0.5s;

  &.display {
    top: 0;
    opacity: 1;
  }
}

#revisionsContainer {
  max-height: 16rem;
  overflow: auto;
}

/*
  custom classes
 */
.vx-navbar {
  @extend .navbar;
  position: fixed;
  width: 100%;
  z-index: $zindex-2;
  background: $gray-color-light;
}

.vx-button-bar {
  display: flex;
  align-items: center;
  background: tint($primary-color, 70%);
  padding: 0.6rem 0.4rem;
}

.vx-error-box {
  display: none;

  &.error {
    color: $error-color;
    display: block;
  }
}

th.vx-sortable-header {
  &:before {
    font-family: icomoon;
    font-weight: normal;
    vertical-align: middle;
    font-size: 150%;
  }

  &.desc {
    &:before {
      content: "\e033";
    }
  }

  &.asc {
    &:before {
      content: "\e031";
    }
  }
}

table.table-striped tbody td.active,
table.table-striped tbody tr.active {
  background: lighten($accent-color, 40%);
}
table.table-striped tbody tr:nth-of-type(2n+1) td.active,
table.table-striped tbody tr:nth-of-type(2n+1).active {
  background: lighten($accent-color, 25%);
}

.vx-activity-indicator {
  padding-left: 1rem;
  padding-right: 1rem;
}

.vx-progress-bar {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.5s ease 0s;

  &.shown {
    opacity: 1;
    transition: opacity 0.5s ease 0s;
  }

}

.display-only-on-hover {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s;
}

td:hover .display-only-on-hover {
  visibility: visible;
  opacity: 1;
}

.dragged-over {
  border: solid $unit-1 $accent-color;
  margin: -$unit-1;
}

/* column widths and text alignment for various tables */

table#articles-list {
  $widths: 15% 24% 5% 5% 8% 8% 8% 8% 12% 7%;
  $alignments: left, left, left, left, right, right, right, center, right, right;

  tr {
    @for $i from 1 through length($widths) {
      th:nth-child(#{$i}) {
        text-align: nth($alignments, $i);
        width: nth($widths, $i);
      }
      td:nth-child(#{$i}) {
        text-align: nth($alignments, $i);
      }
    }
  }
}

table#users-list {
  $widths: 20% 20% 25% 20% 15%;
  $alignments: left, left, left, left, right;

  tr {
    @for $i from 1 through length($widths) {
      th:nth-child(#{$i}) {
        text-align: nth($alignments, $i);
        width: nth($widths, $i);
      }
      td:nth-child(#{$i}) {
        text-align: nth($alignments, $i);
      }
    }
  }
}

table#files-list {
  $widths: 0% 45% 10% 15% 15% 15%;
  $alignments: center, left, right, center, right, right;

  tr {
    @for $i from 1 through length($widths) {
      th:nth-child(#{$i}) {
        text-align: nth($alignments, $i);
        width: nth($widths, $i);
      }
      td:nth-child(#{$i}) {
        text-align: nth($alignments, $i);
      }
    }
  }
}

#article-files {
  table#files-list {
    $widths: 40% 5% 10% 15% 15% 15%;
    $alignments: left, left, right, center, right, right;

    tr {
      @for $i from 1 through length($widths) {
        th:nth-child(#{$i}) {
          text-align: nth($alignments, $i);
          width: nth($widths, $i);
        }
        td:nth-child(#{$i}) {
          text-align: nth($alignments, $i);
        }
      }
    }
  }
}

#file-picker {
  table#files-list {
    $widths: 40% 10% 20% 20% 10%;
    $alignments: left, right, center, right, right;

    tr {
      @for $i from 1 through length($widths) {
        th:nth-child(#{$i}) {
          text-align: nth($alignments, $i);
          width: nth($widths, $i);
        }
        td:nth-child(#{$i}) {
          text-align: nth($alignments, $i);
        }
      }
    }
  }
}
