@CHARSET "UTF-8";

$primary-color: #0089CC;
$secondary-color: #78ccbe;
$base-font-family: "verbcond";

@import "spectre/spectre";
@import "spectre/spectre-icons";
@import "spectre/spectre-exp";

@import "mixin/color";
@import "mixin/webfont";

@include font-face(icomoon, "../fonts/icomoon/icomoon", null, null, woff woff2);
@include font-face(verbcond, "../fonts/verb_condensed/VerbCondRegular", normal, normal, woff woff2);
@include font-face(verbcond, "../fonts/verb_condensed/VerbCondRegular-Italic", normal, italic, woff woff2);
@include font-face(verbcond, "../fonts/verb_condensed/VerbCondBold", bold, normal, woff woff2);
@include font-face(verbcond, "../fonts/verb_condensed/VerbCondBold-Italic", bold, italic, woff woff2);

// some additions to spectre.css

.nav-item {
  & > span {
    padding: $unit-1 $unit-2;
  }
  &.active > span {
    font-weight: bold;
  }
}

.with-webfont-icon-left {
  &:before {
    font-family: icomoon;
    content: attr(data-icon);
    display: inline-block;
    padding-right: 0.4rem;
  }
}

.with-webfont-icon-right {
  &:after {
    font-family: icomoon;
    content: attr(data-icon);
    display: inline-block;
    padding-left: 0.4rem;
  }
}

.webfont-icon-only {
  display: inline-block;
  &:after {
    font-family: icomoon;
    content: attr(data-icon);
  }
}

.text-smaller {
  font-size: 80%;
}

.form-content {
  max-width: 50rem;
}

.error {
  @extend .is-error;
}

// custom layout

html, body {
  height: 100%;
}

.single-column {
  width: 100%;
  max-width: 640px;
  padding: $unit-10 $unit-5;
  margin: 0 auto;
}

#page {
  height: 100%;

  & > .columns {
    height: 100%;
    align-items: stretch;
  }
}

#sidebar {
  padding: 4rem 1rem 1rem 1rem;
  border-right: solid $unit-o $gray-color-light;
  width: 20%;
  max-width: 10rem;
}

#content {
  padding: 4rem 1rem 1rem 1rem;
}

// custom classes

.vx-navbar {
  @extend .navbar;
  position: fixed;
  width: 100%;
  z-index: 400;
  background: $gray-color-light;
}

.vx-button-bar {
  background: tint($primary-color, 0.5);
  padding: 0.6rem 0.4rem;
}