@import "vx/functions";
@import "mixin/webfont";

@import "~spectre.css/src/spectre";
@import "~spectre.css/src/spectre-exp";

@import "spectre-mods/spectre-mods";
@import "vx/with-webfont-icon";

@include font-face(icomoon, "../fonts/icomoon/icomoon", null, null, woff woff2);

#messageBox {
  position: fixed;
  z-index: $zindex-4 + 1;
  max-width: 30rem;
  left: 50%;
  transform: translateX(-50%);
  top: -2rem;
  opacity: 0;
  transition: top 0.5s ease-in-out, opacity 0.5s;

  &.display {
    top: 0;
    opacity: 1;
  }
}
