{form { "class": "form" }}
<div class="errorContainer">
{error_general:<div class="error_message">Ein oder mehrere Eingaben sind fehlerhaft!<br>Der Eintrag in der Datenbank wurde nicht aktualisiert.</div>}
{error_system:<div class="error_message">Ein Fehler ist beim Aktualisieren der Datenbank oder beim Dateiupload aufgetreten!<br>Bitte wiederholen Sie Ihren Versuch in ein paar Minuten. Sollte das Problem weiterhin bestehen, wenden Sie sich an den Webseitenbetreiber.</div>}
</div>

{if($add == 1)}
<div class="form-group">
	<label class="form-label">Datei*</label>{input:File { "class": "form-input" }}
</div>
<div class="form-group">
	<label class="form-label">Archivdatei entpacken?</label>{checkbox:unpack_archives} <span class="smaller">(die Informationen der folgenden Felder werden dann ignoriert)</span>
</div>
{else}
<div>
	{html:Fileinfo}
</div>
{end_if}

<div class="divider" data-content="Metadaten der Datei"></div>

<div class="form-group">
	<label class="form-label">Titel</label>{input:title {"maxlength": 64, "class": "form-input"}}
</div>
<div class="form-group">
	<label class="form-label">Untertitel</label>{input:subtitle {"maxlength": 64, "class": "form-input"}}
</div>
<div class="form-group">
	<label class="form-label">Beschreibung</label>{textarea:description {"rows": 5, "class": "form-input"}}
</div>

<div class="divider" data-content="erweiterte Einstellungen"></div>

<div class="form-sect">
	<div class="form-group">
		<label class="form-label">Sortierwert</label>{input:customsort {"maxlength": 4, "class": "form-input col-4"}}
	</div>
</div>

<div class="divider"></div>

<div class="form-group">
	{button:submit_cancel {"type": "submit", "class": "btn" }} {button:submit_add {"type": "submit", "class": "btn btn-success" }}{button:submit_edit {"type": "submit", "class": "btn btn-success" }}
</div>
{ end_form }