{error_system:<div class="error_message">Ein Fehler ist beim Aktualisieren der Datenbank oder beim Dateiupload aufgetreten!<br>Bitte wiederholen Sie Ihren Versuch in ein paar Minuten. Sollte das Problem weiterhin bestehen, wenden Sie sich an den Webseitenbetreiber.</div>}
{if($success == 1)}
<div class="success_message"><strong>Änderungen erfolgreich übernommen</strong></div>
{end_if}
{if($nochange == 1)}
<div class="notify_message"><strong>Keine Änderungen notwendig</strong><br>Daten wurden nicht gespeichert.</div>
{end_if}

<div class="multiColumnContainer">
	<div class="formSect column" style="width: 70%;">
		<div class="formItem">
			<label>Titel</label>{input:Title}
		</div>
		<div class="formItem">
			<label>Eindeutiger Name (automatisch generiert)</label>{input:Alias}
		</div>
		<div class="formItem">
			<label>Inhalt</label>{textarea:Markup}
		</div>
	</div>
	
	<div class="formSect column" style="width: 30%; padding-left: 1em;">
		<div class="formItem">
			<label>Schlüsselwörter</label>{textarea:Keywords}
		</div>
		<div class="formItem">
			<label>Beschreibung</label>{textarea:Description}
		</div>
	</div>
</div>	 

<div class="formBase">
	<div class="formItem">
	{input:submit_edit}
	</div>
</div>
