<div class="errorContainer">
{error_system:<div class="error_message">Ein Fehler ist beim Aktualisieren der Datenbank oder beim Dateiupload aufgetreten!<br>Bitte wiederholen Sie Ihren Versuch in ein paar Minuten. Sollte das Problem weiterhin bestehen, wenden Sie sich an den Webseitenbetreiber.</div>}
</div>

{if($success == 1)}
<div class="success_message">Änderungen erfolgreich übernommen</div>
{end_if}

<div class="formSect">
	<div class="formItem">
		<label class="m{error_username: error}" for="username_input">Username*</label>{input:username {"id": "username_input", "class": "xl", "autocomplete": "off", "maxlength": 128  }}
		<span id="error_username"></span>{error_username:<span class="error">Ungültiger Username!</span>}
		<span id="error_duplicate_username"></span>{error_duplicate_username:<span class="error">Username wird bereits verwendet!</span>}
	</div>
	<div class="formItem">
		<label class="m{error_email: error}" for="email_input">Email*</label>{input:email {"id": "email_input", "class": "xl", "autocomplete": "off", "maxlength": 128  }}
		<span id="error_email"></span>{error_email:<span class="error">Ungültige Email!</span>}
		<span id="error_duplicate_email"></span>{error_duplicate_email:<span class="error">Email wird bereits verwendet!</span>}
	</div>
	<div class="formItem">
		<label class="m{error_name: error}" for="name_input">Name*</label>{input:name {"id": "name_input", "class": "xl", "autocomplete": "off", "maxlength": 128  }}
	</div>
	<div class="formItem">
		<label class="m{error_admingroupsID: error}" for="admingroupsID_select">Gruppe*</label>{dropdown:admingroupsID {"id": "admingroupsID_select", "class": "xl" }}
	</div>
	<div class="formItem">
		<label class="m" for="pwd_input">Neues Passwort</label>{input:new_PWD {"id": "pwd_input", "class": "xl", "autocomplete": "off", "maxlength": 128  }}
		<span id="error_new_PWD"></span>{error_new_PWD:<span class="error">Passwort zu kurz!</span>}
	</div>
	<div class="formItem">
		<label class="m" for="pwd2_input">Passwort wiederholen</label>{input:new_PWD_verify {"id": "pwd2_input", "class": "xl", "autocomplete": "off", "maxlength": 128  }}
		<span id="error_PWD_mismatch"></span>{error_PWD_mismatch:<span class="error">Passwörter stimmen nicht überein!</span>}
	</div>
</div>

<div class="formBase">
	<div class="formItem">
		<label class="m"></label>{button:submit_user}
	</div>
</div>
