{error_system:<div class="error_message">Ein Fehler ist beim Aktualisieren der Datenbank oder beim Dateiupload aufgetreten!<br>Bitte wiederholen Sie Ihren Versuch in ein paar Minuten. Sollte das Problem weiterhin bestehen, wenden Sie sich an den Webseitenbetreiber.</div>}

<script type="text/javascript">

	var filesOverlay;

	var openpopup = function() {
		
		if(!filesOverlay) {

			filesOverlay = vxJS.widget.confirm({
				overlay: true,
				className: "fileOverlay",
				buttons: [ { label: "Schließen" , key: "close" } ],
				content: [ { "html": '<div id="filePicker"></div>' } ]
			});

			vxJS.xhr(null, null, null, { complete: function() { console.log(this); }}).submit();
		}
		
		filesOverlay.show();
	};

</script>

<div class="formSect">

	<div class="formItem">
		<label>neue Datei</label>{input:upload_file}
	</div>
	<div class="formItem">
		<label style="vertical-align: top;">Beschreibung</label>{textarea:file_description}
	</div>
	<!-- <button type="button" onclick="openpopup()">Datei auswählen</button> -->
</div>

<div class="formBase">
	<div class="formItem">
		<label></label>{input:submit_file}{input:id}
	</div>
</div>

<table class="imageTable">
	<tr>
		<th class="xs"></th>
		<th class="m">Typ</th>
		<th class="m">Dateiname</th>
		<th class="xxl">Titel/Beschreibung</th>
		<th class="s">löschen?</th>
	</tr>

	{loop $files_count}
	<tr>
		<td class="dndColumn"></td>
		<td>{html:mimetypes}</td>
		<td>{html:filenames}</td>
		<td>{html:descriptions}</td>
		<td>{checkbox:delete_file}</td>
	</tr>
	{end_loop}
</table>
