{error_general:<div class="error_message">Ein oder mehrere Eingaben sind fehlerhaft!<br>Der Eintrag in der Datenbank wurde nicht aktualisiert.</div>}
{error_system:<div class="error_message">Ein Fehler ist beim Aktualisieren der Datenbank oder beim Dateiupload aufgetreten!<br>Bitte wiederholen Sie Ihren Versuch in ein paar Minuten. Sollte das Problem weiterhin bestehen, wenden Sie sich an den Webseitenbetreiber.</div>}

{if($success == 1)}
<div class="success_message">Änderungen oder Neuanlage erfolgreich übernommen.</div>
{end_if}

<div class="formSect">
 	<div class="formItem">
		<label class="m{error_article_date: error}">Artikeldatum</label><div class="inputGroup inline">{input:article_date {"maxlength": "10", "class": "m"} }<span class="iconOnly calendarPopper" data-icon="&#xe00c;"></span></div>
	</div>
 	<div class="formItem">
 		<label class="m{error_display_from: error}">Anzeige von</label><div class="inputGroup inline">{input:display_from {"maxlength": "10", "class": "m"} }<span class="iconOnly calendarPopper" data-icon="&#xe00c;"></span></div>
	</div>
 	<div class="formItem">
		<label class="m{error_display_until: error}">Anzeige bis</label><div class="inputGroup inline">{input:display_until {"maxlength": "10", "class": "m"} }<span class="iconOnly calendarPopper" data-icon="&#xe00c;"></span></div>
	</div>
 	<div class="formItem">
		<label class="m{error_customsort: error}">generische Sortierung</label>{input:customsort {"maxlength": "4", "class": "s"} }
	</div>
 	<div class="formItem">
		<label class="m{error_articlecategoriesid: error}"><strong>*Kategorie</strong></label>{dropdown:articlecategoriesid {"size": "1", "class": "xxl"} }
	</div>
	<div class="formItem">
		<label class="m{error_headline: error}"><strong>*Überschrift/Titel</strong></label>{input:headline {"maxlength": "200", "class": "xxl"} }
	</div>
	<div class="formItem">
		<label class="m{error_teaser: error}" style="vertical-align: top;">Anrisstext</label>{textarea:teaser {"rows": "3", "cols": "40", "class": "xxl"} }
	</div>
	<div class="formItem">
		<label class="m{error_content: error}" style="vertical-align: top;"><strong>*Seiteninhalt</strong></label>{textarea:content {"rows": "10", "cols": "40", "class": "xxl"} }
	</div>
</div>
<div class="formBase">
	<div class="formItem">
			<label class="m"></label>{button:submit_article {"type": "submit"} }
	</div>
</div>