{error_system:<div class="error_message">Ein Fehler ist beim Aktualisieren der Datenbank oder beim Dateiupload aufgetreten!<br>Bitte wiederholen Sie Ihren Versuch in ein paar Minuten. Sollte das Problem weiterhin bestehen, wenden Sie sich an den Webseitenbetreiber.</div>}

<div class="formSect">

	<div class="formItem">
		<label>neue Datei</label>{input:upload_file}
	</div>
	<div class="formItem">
		<label style="vertical-align: top;">Beschreibung</label>{textarea:file_description}
	</div>
</div>

<div class="formBase">
	<div class="formItem">
		<label></label>{input:submit_file}{input:id}
	</div>
</div>

<table class="imageTable">
	<tr>
		<th class="xs"></th>
		<th class="m">Typ</th>
		<th class="m">Dateiname</th>
		<th class="xxl">Titel/Beschreibung</th>
		<th class="s">löschen?</th>
	</tr>

	{loop $files_count}
	<tr>
		<td class="dndColumn"></td>
		<td>{html:mimetypes}</td>
		<td>{html:filenames}</td>
		<td>{html:descriptions}</td>
		<td>{checkbox:delete_file}</td>
	</tr>
	{end_loop}
</table>
