<div class="errorContainer">
{error_general:<div class="error_message">Ein oder mehrere Eingaben sind fehlerhaft!<br>Der Eintrag in der Datenbank wurde nicht aktualisiert.</div>}
{error_system:<div class="error_message">Ein Fehler ist beim Aktualisieren der Datenbank oder beim Dateiupload aufgetreten!<br>Bitte wiederholen Sie Ihren Versuch in ein paar Minuten. Sollte das Problem weiterhin bestehen, wenden Sie sich an den Webseitenbetreiber.</div>}
</div>

<div class="formSect">
	{if($add == 1)}
	<div class="form-group">
		<label class="m label{error_File: error}">Datei*</label>{input:File}
	</div>
	<div class="form-group">
		<label class="m label">Archivdatei entpacken?</label>{checkbox:unpack_archives} <span class="smaller">(die Informationen der folgenden Felder werden dann ignoriert)</span>
	</div>
	{else}
	<div>
		{html:Fileinfo}
	</div>
	<div class="separator"></div>
	{end_if}

	<div class="form-group">
		<label class="m label{error_Title: error}">Titel</label>{input:title {"maxlength": 64, "class": "xl"}}
	</div>
	<div class="form-group">
		<label class="m label">Untertitel</label>{input:subtitle {"maxlength": 64, "class": "xl"}}
	</div>
	<div class="form-group">
		<label class="m label">Beschreibung</label>{textarea:description {"rows": 5, "cols": 40, "class": "xl"}}
	</div>
</div>

<div class="separator">erweiterte Einstellungen</div>

<div class="formSect extras">
	<div class="form-group">
		<label class="m label{error_customSort: error}">Sortierwert</label>{input:customsort {"maxlength": 4, "class": "s"}}
	</div>
</div>

<div class="formBase">
	<div class="form-group">
		<label class="m"></label>
		{button:submit_cancel {"type": "submit"}}{button:submit_add {"type": "submit"}}{button:submit_edit {"type": "submit"}}
	</div>
</div>