{form { "class": "form-horizontal" }}

{error_general:<div class="error_message">Ein oder mehrere Eingaben sind fehlerhaft!<br>Der Eintrag in der Datenbank wurde nicht aktualisiert.</div>}
{error_system:<div class="error_message">Ein Fehler ist beim Aktualisieren der Datenbank oder beim Dateiupload aufgetreten!<br>Bitte wiederholen Sie Ihren Versuch in ein paar Minuten. Sollte das Problem weiterhin bestehen, wenden Sie sich an den Webseitenbetreiber.</div>}

{if($success == 1)}
<div class="success_message">Änderungen oder Neuanlage erfolgreich übernommen.</div>
{end_if}

<div class="form-sect">
 	<div class="form-group">
		<label class="col-1 form-label{error_article_date: error}">Artikeldatum</label>
		<div class="input-group input-inline col-2">
			{input:article_date {"maxlength": "10", "class": "form-input"} }<button type="button" class="btn btn-primary webfont-icon-only calendarPopper" data-icon="&#xe00c;"></button>
		</div>
	</div>
 	<div class="form-group">
 		<label class="col-1 form-label{error_display_from: error}">Anzeige von</label>
		<div class="input-group input-inline col-2">{input:display_from {"maxlength": "10", "class": "form-input col-2"} }<button type="button" class="btn btn-primary webfont-icon-only calendarPopper" data-icon="&#xe00c;"></button></div>
	</div>
 	<div class="form-group">
		<label class="col-1 form-label{error_display_until: error}">Anzeige bis</label>
		<div class="input-group input-inline col-2">{input:display_until {"maxlength": "10", "class": "form-input"} }<button type="button" class="btn btn-primary webfont-icon-only calendarPopper" data-icon="&#xe00c;"></button></div>
	</div>
 	<div class="form-group">
		<label class="col-1 form-label{error_customsort: error}">generische Sortierung</label>
		{input:customsort {"maxlength": "4", "class": "form-input col-1"} }
	</div>
 	<div class="form-group">
		<label class="col-1 form-label{error_articlecategoriesid: error}"><strong>*Kategorie</strong></label>{dropdown:articlecategoriesid {"size": "1", "class": "form-select col-5"} }
	</div>
	<div class="form-group">
		<label class="col-1 form-label{error_headline: error}"><strong>*Überschrift/Titel</strong></label>{input:headline {"maxlength": "200", "class": "form-input col-5"} }
	</div>
	<div class="form-group">
		<label class="col-1 form-label{error_teaser: error}" style="vertical-align: top;">Anrisstext</label>{textarea:teaser {"rows": "3", "class": "form-input col-5"} }
	</div>
	<div class="form-group">
		<label class="col-1 form-label{error_content: error}" style="vertical-align: top;"><strong>*Seiteninhalt</strong></label>{textarea:content {"rows": "10", "cols": "40", "class": "form-input"} }
	</div>
</div>

<div class="divider"></div>

<div class="form-base">
	<div class="form-group">
		<label class="col-1 form-label"></label>{ button:submit_article {"type": "submit", "class": "btn btn-success"} }
	</div>
</div>
{end_form}
