<h1>Profil</h1>

<div class="form-content">
	{form {"class": "form-horizontal"} }

	<div class="errorContainer">
	{error_system:<div class="error_message">Ein Fehler ist beim Aktualisieren der Datenbank oder beim Dateiupload aufgetreten!<br>Bitte wiederholen Sie Ihren Versuch in ein paar Minuten. Sollte das Problem weiterhin bestehen, wenden Sie sich an den Webseitenbetreiber.</div>}
	</div>

	<div class="form-sect">
		<div class="form-group">
			<label class="form-label col-3{error_username: text-error}" for="username_input">Username*</label>{input:username {"autocomplete": "off", "maxlength": 128, "class": "col-9 form-input", "id": "username_input"} }
			<span id="error_username"></span>{error_Email:<span class="text-error">Ungültiger Username!</span>}
			<span id="error_duplicate_username"></span>{error_duplicate_username:<span class="text-error">Username wird bereits verwendet!</span>}
		</div>
		<div class="form-group">
			<label class="form-label col-3{error_email: text-error}" for="email_input">Email*</label>{input:email {"autocomplete": "off", "maxlength": 128, "class": "col-9 form-input", "id": "email_input"} }
			<span id="error_email"></span>{error_email:<span class="text-error">Ungültige Email!</span>}
			<span id="error_duplicate_email"></span>{error_duplicate_email:<span class="text-error">Email wird bereits verwendet!</span>}
		</div>
		<div class="form-group">
			<label class="form-label col-3{error_name: text-error}" for="name_input">Name*</label>{input:name {"autocomplete": "off", "maxlength": 128, "class": "col-9 form-input", "id": "name_input"} }
		</div>
		<div class="form-group">
			<label class="form-label col-3" for="pwd_input">Neues Passwort</label>{input:new_PWD {"autocomplete": "off", "maxlength": 128, "class": "col-9 form-input", "id": "pwd_input"} }
			<span id="error_new_PWD"></span>{error_new_PWD:<span class="text-error">Passwort zu kurz!</span>}
		</div>
		<div class="form-group">
			<label class="form-label col-3" for="pwd2_input">Passwort wiederholen</label>{input:new_PWD_verify {"autocomplete": "off", "maxlength": 128, "class": "col-9 form-input", "id": "pwd2_input"} }
			<span id="error_PWD_mismatch"></span>{error_PWD_mismatch:<span class="text-error">Passwörter stimmen nicht überein!</span>}
		</div>
	</div>

	<div class="divider"></div>

	{if($has_notifications == 1)}
	<div class="form-sect">
		<h3>Benachrichtigungen</h3>
		{html:notifications}
	</div>
	{end_if}

	<div class="form-base">
		<div class="form-group">
			<label class="form-label col-3"></label>{button:submit_profile { "type": "submit", "class": "btn btn-success" } }
		</div>
	</div>

	{end_form}
</div>