<div class="dialog" style="position: relative; z-index: 10;">
	<h1>Admin Login</h1>
	<div class="formSect">
		<div class="formItem">
			<label class="ssm">Username</label>{input:UID}
		</div>
		<div class="formItem">
			<label class="ssm">Passwort</label>{input:pwd}
		</div>
	</div>
	<div class="separator"></div>
	<div class="formBase">
		<div class="formItem">
			<label class="ssm"></label>{button:submit_login}
		</div>
	</div>
	{error_submit_login:<div class="error_message">Ungültige Email oder ungültiges Passwort!</div>}
</div>
