<h1>Profil</h1>

<div class="form-content">
	{form {"class": "form-horizontal"} }

	<div class="form-sect">
		<div class="form-group">
			<label class="form-label col-3" for="username_input"><strong>Username*</strong></label>
			<div class="col-9">
				{input:username {"autocomplete": "off", "maxlength": 128, "class": "form-input", "id": "username_input"} }
				<p id="error_username" class="form-input-hint vx-error-box"></p>
			</div>
		</div>
		<div class="form-group">
			<label class="form-label col-3" for="email_input"><strong>Email*</strong></label>
			<div class="col-9">
				{input:email {"autocomplete": "off", "maxlength": 128, "class": "form-input", "id": "email_input"} }
				<p id="error_email" class="form-input-hint vx-error-box"></p>
			</div>
		</div>
		<div class="form-group">
			<label class="form-label col-3" for="name_input"><strong>Name*</strong></label>
			<div class="col-9">
				{input:name {"autocomplete": "off", "maxlength": 128, "class": "form-input", "id": "name_input"} }
				<p id="error_name" class="form-input-hint vx-error-box"></p>
			</div>
		</div>
		<div class="form-group">
			<label class="form-label col-3" for="pwd_input">Neues Passwort</label>
			<div class="col-9">
				{input:new_PWD {"autocomplete": "off", "maxlength": 128, "class": "form-input", "id": "pwd_input"} }
				<p id="error_new_PWD" class="form-input-hint vx-error-box"></p>
			</div>
		</div>
		<div class="form-group">
			<label class="form-label col-3" for="pwd2_input">Passwort wiederholen</label>
			<div class="col-9">
				{input:new_PWD_verify {"autocomplete": "off", "maxlength": 128, "class": "form-input", "id": "pwd2_input"} }
				<p id="error_new_PWD_verify" class="form-input-hint vx-error-box"></p>
			</div>
		</div>
	</div>

	<div class="divider"></div>

	{if($has_notifications == 1)}
	<div class="form-sect">
		<h3>Benachrichtigungen</h3>
		{html:notifications}
	</div>
	{end_if}

	<div class="form-base">
		<div class="form-group">
			<label class="form-label col-3"></label>{button:submit_profile { "type": "submit", "class": "btn btn-success" } }
		</div>
	</div>

	{end_form}
</div>