{form { "class": "form" }}

<div class="columns">
	<div class="column col-8">
		<div class="form-group">
			<label class="form-label">Eindeutiger Name (automatisch generiert)</label>
			{input:alias {"maxlength": "64", "class": "form-input", "disabled": "disabled"} }
		</div>
		<div class="form-group">
			<label class="form-label">Titel</label>
			{input:title {"maxlength": "128", "class": "form-input"} }
		</div>
		<div class="form-group">
			<label class="form-label">Inhalt</label>{textarea:markup {"rows": "20", "class": "form-input"} }
		</div>
	</div>
	<div class="column col-4">
		<div class="form-group">
			<label class="form-label">Schlüsselwörter</label>{textarea:keywords {"rows": "4", "class": "form-input"} }
		</div>
		<div class="form-group">
			<label>Beschreibung</label>{textarea:description {"rows": "4", "cols": "30", "class": "form-input"} }
		</div>
		<div class="form-group">
			<label form-label>Revisions</label>
			<div style="max-height: 30em; overflow-y: auto;">
				<table id="revisions" class="table table-striped">
					<thead>
						<tr>
							<th class="col-2">Loc</th>
							<th>Angelegt um</th>
							<th class="col-2">aktiv</th>
							<th class="col-2"></th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>	 
<div class="divider"></div>
<div class="form-base">
	<div class="form-group">
		{input:submit_page {"class": "btn btn-success", "type": "submit"} }
	</div>
</div>

{ end_form }