@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-o-transform: $transforms;
	transform: $transforms;
}

@mixin keyframes($animationName)	{
	@-webkit-keyframes #{$animationName}	{
		@content;
	}

	@-moz-keyframes #{$animationName}	{
		@content;
	}

	@-o-keyframes #{$animationName}	{
		@content;
	}

	@keyframes #{$animationName}	{
		@content;
	}
}

@mixin animation($animation, $fillmode: "") {

	-webkit-animation:	$animation;
	-moz-animation:		$animation;
	-o-animation:		$animation;
	animation:			$animation;

	@if $fillmode != "" {
		-webkit-animation-fill-mode:	$fillmode;
		-moz-animation-fill-mode:		$fillmode;
		-o-animation-fill-mode:			$fillmode;
		animation-fill-mode:			$fillmode;
	}

}


@include keyframes(rotate)	{
	0%	{
		@include transform(rotate(0));
	}
	100%	{
		@include transform(rotate(360deg));
	}
}

@include keyframes(fadeInDown)	{
	from	{
		opacity: 0; @include transform(translateY(0));
	}
	to		{
		opacity: 1; @include transform(translateY(3em));
	}
}

@include keyframes(fadeOutUp)	{
	from	{
		opacity: 1; @include transform(translateY(3em));
	}
	to		{
		opacity: 0; @include transform(translateY(0));
	}
}
