$icon-home2: "\e000";
$icon-pencil: "\e001";
$icon-pencil5: "\e002";
$icon-file-empty: "\e003";
$icon-copy4: "\e004";
$icon-file-zip: "\e005";
$icon-folder: "\e006";
$icon-folder-plus2: "\e007";
$icon-folder-remove: "\e008";
$icon-user3: "\e009";
$icon-phone2: "\e00a";
$icon-envelop3: "\e00b";
$icon-calendar2: "\e00c";
$icon-floppy-disk2: "\e00d";
$icon-file-plus: "\e00e";
$icon-lock5: "\e00f";
$icon-cog2: "\e010";
$icon-bin: "\e011";
$icon-switch: "\e012";
$icon-link: "\e013";
$icon-eye: "\e014";
$icon-eye-blocked: "\e015";
$icon-star-full2: "\e016";
$icon-move: "\e017";
$icon-plus-circle2: "\e018";
$icon-minus-circle2: "\e019";
$icon-info2: "\e01a";
$icon-blocked: "\e01b";
$icon-cancel-circle2: "\e01c";
$icon-cross: "\e01d";
$icon-checkmark: "\e01e";
$icon-minus2: "\e01f";
$icon-plus2: "\e020";
$icon-exit: "\e021";
$icon-arrow-up: "\e022";
$icon-arrow-right: "\e023";
$icon-arrow-down: "\e024";
$icon-arrow-left: "\e025";
$icon-loop3: "\e026";
$icon-checkbox-checked2: "\e027";
$icon-checkbox-unchecked2: "\e028";
$icon-checkbox-partial2: "\e029";
$icon-new-tab: "\e02a";
$icon-new-tab2: "\e02b";
$icon-file-pdf: "\e02c";
$icon-file-minus: "\e02d";
$icon-enter: "\e02e";
$icon-spinner9: "\e02f";
$icon-spinner5: "\e030";
$icon-arrow-up5: "\e031";
$icon-arrow-right5: "\e032";
$icon-arrow-down5: "\e033";
$icon-arrow-left5: "\e034";
$icon-list: "\e035";
$icon-first2: "\e036";
$icon-last2: "\e037";
$icon-arrow-resize4: "\e038";
$icon-arrow-resize3: "\e039";
$icon-grid: "\e03a";
$icon-undo: "\e03b";
$icon-redo: "\e03c";
$icon-warning2: "\e03d";
$icon-notification2: "\e03e";
$icon-github: "\e03f";
$icon-git: "\e040";
$icon-circle-up2: "\e041";
$icon-circle-right2: "\e042";
$icon-circle-down2: "\e043";
$icon-circle-left2: "\e044";
$icon-spinner11: "\e045";
$icon-tux: "\e046";
$icon-circle2: "\e047";
$icon-radio-unchecked: "\e048";
$icon-radio-checked: "\e049";
$icon-download2: "\e04e";
$icon-upload2: "\e04f";
$icon-google-plus: "\e050";
$icon-file-xml: "\e051";
$icon-file-css: "\e052";
$icon-menu3: "\e053";
$icon-menu7: "\e054";
$icon-google-plus3: "\e055";
$icon-google-plus2: "\e056";
$icon-facebook: "\e057";
$icon-facebook2: "\e058";
$icon-twitter: "\e059";
$icon-youtube: "\e05a";
$icon-youtube2: "\e05b";

