/*
 * calendar widget
 */

.calendarSkin	{
	background: #fff; color: $altColorDark; box-shadow: 1px 1px 0.75em #000; border-radius: 0.25em;

	div	{
		padding: 0.25em;
	}

	.vxJS_dragBar	{
		position: relative;
		display: table;
		width: 100%;
		padding: 0;
	}

	.selMon, .selYear {
		display: table-row;
		width: 100%;
	}

	.mon, .year	{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	.prevMon, .nextMon, .prevYear, .nextYear	{
		cursor: pointer;
		display: table-cell;
		vertical-align: middle;
		padding: 0.125em 0.5em;
	}

	.prevMon, .prevYear	{
		 &:before	{
		 	font-family: icomoon; content: "\e025";
		 }
	}

	.nextMon, .nextYear	{
		text-align: right;

		 &:before	{
		 	font-family: icomoon; content: "\e023";
		 }
	}

	table	{
		font-size: 90%;
		width: 100%;
		border-collapse: separate;
		border-spacing: 2px;

		td	{
			padding: 0.25em 0.25em; text-align: center; vertical-align: middle; cursor: pointer; background: #fff;
			&.trail	{
				color: $neutralLight;
			}
			&.weekCell	{
				cursor: pointer; background: #99A5BD;
			}
			&.today		{
				background: $colorBright; color: #fff; border-radius: 0.125em;
			}
			&.marked	{
				background: $altColorBright; color: #fff; border-radius: 0.125em;
			}
			&.disabled	{
				color: $neutralMedium; cursor: default;
			}
		}

		th	{
			padding: 0.125em 0.25em; text-align: center; color: #fff; vertical-align: middle; width: 1.75em; background: $neutralLight;
		}
	}
}

/*
 * autosuggest widget
 */
.vxJS_autoSuggest	{
	position: absolute; z-index: 100; border: 1px solid $neutralExtraLight; box-shadow: 0 1px 0.75em $neutralMedium;

	ul	{
		color: #000; background: #fff; margin: 0; padding: 0; list-style-type: none;

		li	{
			cursor: pointer; margin: 0; padding: 0.25em 0.5em;

			&.current	{
				color: $colorBright; background: $neutralLight;
			}

			span	{
				padding: 0 0.5em;

				&.hiLite	{
					color: $altColorBright; padding: 0;
				}
			}
		}
	}
}

/*
 * overlay
 */
.vxJS_overlay	{
	background: $altColorBright; opacity: 0.3;
}
