/*
 * form elements
 */

label, input	{
	display: inline-block; vertical-align: middle;
}

input, textarea, select, button	{
	-moz-appearance: none; -webkit-appearance: none; background: #fff; padding: 0.125em 0.25em; border-radius: 0.25em; border: solid 1px #aaa;
}

input	{
	&[type=checkbox]	{
		-moz-appearance: checkbox; -webkit-appearance: checkbox;
	}

	&[type=radio]	{
		-moz-appearance: radio; -webkit-appearance: radio;
	}
}

input, textarea, select	{
	&:focus	{ box-shadow: 0 0 0.25em #aef; border-color: $colorBright !important; }
}

select	{
	&:not([size]), &[size="1"] {
		display: inline-block; vertical-align: middle; padding-left: 24px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAPCAYAAAD+pA/bAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAUwAAAFMB8eliagAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACgSURBVDiNzZTBCcMwDEV/igboBvEo9UEHTRVnLl8yQlbIHgLnEoMoxFUdQvuONn4PG+GhlII7edxq/4tAjPHZs+cKMHMiolVEwvueiAQiWpk5dQWOgxOAUVUXGxGRoKoLgBHA1IpQq26okRcAGPlHhtaYmltUtho0a3POOXUFTiKWphxwTNEhmHvkrsBJxCUHHE9kqdPilX8d6OH3X8VVdriGSMCaxOn7AAAAAElFTkSuQmCC') no-repeat 0 50% #fff; text-indent: 0.1px; text-overflow: "";
	}
	&:-ms-expand	{
		display: none;
	}
}

button	{
	&:-moz-focus-inner	{
		border: 0; padding: 0;
	}
}

input, textarea	{
	&[disabled="disabled"]	{
		background: #eee;
	}
}

option	{
	padding: 0.125em 0.25em;
}

/*
 * buttons and button-like anchors
 */

button, a.buttonLink	{
	display: inline-block;
	vertical-align: middle;
	padding: 0.25em 1em;
	background: $colorDark;
	color: #fff;
	font-weight: bold;
	border: solid 1px darken($colorDark, 20%);
	border-radius: 0.25em;
	margin-right: 0.25em;
	transition: all 0.25s ease 0s;

	&:hover, &:active {
		background: $colorBright;
		color: #fff;
		border-color: $colorDark;
		cursor: pointer;
		box-shadow: 0 0 2px $colorBright;
		text-decoration: none;
	}

	&.active {
		background: $colorBright;
		transition: all 0.25s ease 0s;
	}
}

button[disabled=disabled]	{
	border-color: #444; color: #444; text-shadow: 1px 1px #ccc; background: #888;
}

.withIcon	{
	&:before	{ font-family: icomoon; padding-right: 0.5em; font-weight: normal; content: attr(data-icon); line-height: 100%; }
}

span.iconOnly, button.iconOnly, a.iconOnly	{
	font-weight: normal; padding: 0.25em; color: $colorDark; background: none; border-color: transparent; border-width: 2px; line-height: 100%; text-decoration: none;

	&:before	{
		font-family: icomoon; content: attr(data-icon);
	}
}

button.iconOnly, a.iconOnly	{
	&:hover, &:active	{
		background: none; box-shadow: none; color: $colorBright; border-color: $colorBright;
	}

}

div.buttonBar	{
	margin: 0.5em 0;
}

span.buttonGroup	{
	display: inline-block; margin-right: 0.25em;

	button	{
		border-radius: 0; border-right-style: none; margin-right: 0;

		&:first-child	{
			border-bottom-left-radius: 0.25em; border-top-left-radius: 0.25em;
		}
		&:last-child	{
			border-bottom-right-radius: 0.25em; border-top-right-radius: 0.25em; border-right-style: solid;
		}
	}
}

/*
 * input group
 */

div.inputGroup	{
	display: table;
	border-collapse: separate !important;
	border-spacing: 0 !important;

	&.inline	{
		display: inline-table;
	}

	*	{
		border-radius: 0; border-color: #ccc ; border-style: solid; border-width: 1px 1px 1px 0; vertical-align: middle; padding-top: 0.125em; padding-bottom: 0.125em; margin: 0;

		&:first-child {
			padding-left: 0.5em; border-top-left-radius: 0.25em; border-bottom-left-radius: 0.25em; border-left-width: 1px;
		}

		&:last-child {
			padding-right: 0.5em; border-top-right-radius: 0.25em; border-bottom-right-radius: 0.25em;
		}
	}

	input, span	{
		display: table-cell;
	}

	.inputGroupBtn	{
		padding: 0; width: 1%; white-space: nowrap;

		button	{
			border: none; margin: -1px; border-radius: inherit;
		}
	}

}

/*
 * stock form
 */
form	{
	padding: 0.75em 0;

	.formSect	{
		margin-bottom: 0.75em;
	}

	.formBase	{
		margin-top: 0.25em;
	}

	.formItem	{
		padding: 0.5em 0;
	}
}

label	{
	padding-right: 0.5em;
}

/*
 * multiple columns
 */
.multiColumnContainer	{
	&:after	{
		content: ''; display: block; clear: left; visibility: hidden; line-height: 0; height: 0;
	}

	.column	{
		float: left;
	}

	&.two	{
		.column	{
			width: 100% / 2;

			&:first-child	{
				padding-right: 0.75em;;
			}
			&:last-child	{
				padding-left: 0.75em;;
			}

		}
	}

	&.three	{
		.column	{
			width: 100% / 3; padding: 0 0.5em;

			&:first-child	{
				padding: 0 1em 0 0;
			}
			&:last-child	{
				padding: 0 0 0 1em;
			}
		}
	}
}

/*
 * predefined classes for combinations
 */

$minWidth: 2em;

.xs										{ width: $minWidth; }
.xss									{ width: $minWidth * 1.5; }
.s										{ width: $minWidth * 2; }
.ssm									{ width: $minWidth * 3; }
.sm										{ width: $minWidth * 4; }
.m										{ width: $minWidth * 5; }
.mml									{ width: $minWidth * 6; }
.ml										{ width: $minWidth * 8; }
.l										{ width: $minWidth * 10; }
.lxl									{ width: $minWidth * 12; }
.xl										{ width: $minWidth * 15; }
.xxl									{ width: $minWidth * 20; }
.xxxl									{ width: $minWidth * 25; }

.pct_50									{ width: 50%; }
.pct_100								{ width: 100%; }

.smaller								{ font-size: 80%; }
.right									{ text-align: right; }
.centered								{ text-align: center; }
.leftFloat								{ float: left; }
.clearFloat								{ height: 0; clear: both; overflow: hidden; line-height: 0; visibility: hidden; }

.clearLeftAfter:after, .clearRightAfter:after	{
	content: ''; display: block; clear: left; visibility: hidden; line-height: 0; height: 0;
}
.clearRightAfter:after	{
	clear: right;
}

/*
 * table classes
 */

table.list	{
	th	{
		border-left: solid 1px $neutralExtraLight;

		&:first-child	{
			border-left: none;
		}
	}
}

th.vxJS_sorTable_header_desc, th.vxJS_sorTable_header_asc	{
	background: $neutralLight;

	&:before	{
		font-family: icomoon; font-weight: normal; content: "\e033"; vertical-align: middle; font-size: 150%;
	}
}

th.vxJS_sorTable_header_desc:before	{
	content: "\e031";
}

tr	{
	&.row0	{
		background: $tableRowEvenColor;
		.active	{
			background: lighten(desaturate($altColorBright, 50%), 40%);
		}
	}

	&.row1	{
		background: $tableRowOddColor;
		.active	{
			background: lighten(desaturate($altColorBright, 40%), 30%);
		}
	}
}

/*
 * animated throbber
 */
div.vxJS_xhrThrobber {
	font-family: icomoon; display: inline-block; color: $colorDark; padding: 0.5em; text-align: center; vertical-align: middle; visibility: hidden; z-index: 100;

	&.active	{
		background: none; visibility: visible; @include animation(rotate 1s linear infinite);
	}

	&:before	{
		font-family: icomoon; content: "\e02f";
	}
}


