@import "~spectre.css/src/variables";

.modal {
  &.modal-sm {
    .modal-header {
      margin: 0 (-$unit-2);
      padding-left: $unit-6;
      padding-right: $unit-6;
    }
  }
  .modal-header {
    margin: 0 (-$unit-4);
    padding-left: $unit-8;
    padding-right: $unit-8;
  }
}
