.popover {
  &.static {
    .popover-container {
      width: auto;
    }
    &.active {
      .popover-container {
        display: block !important;
      }
    }

    *:focus + .popover-container,
    &:hover .popover-container {
      display: none;
    }
  }
}
