/*
 * colors: #0089CC, #FF9400 - #005680, #e59517, hover: #aef
 *
 */

@CHARSET "UTF-8";
@import "../fonts/verb_condensed/webfont.css";
@import "../fonts/icomoon/webfont.css";

/*
 * defaults
 */

*								{ font-size: 100%; margin: 0; padding: 0; line-height: normal; }
*, *:before, *:after			{ box-sizing: border-box; -moz-box-sizing: border-box; }
html, body						{ height: 100%; background: #fff; color: #000; }
img								{ border: none; }
p								{ line-height: 125%; margin-bottom: 0.5em; padding: 0; }
a								{ text-decoration: none; color: #005680; }
a:hover,
a:active						{ color: #0089CC; }

table							{ border-collapse: collapse; margin-bottom: 1em; }
th, td							{ padding: 0.25em 0.5em; text-align: left; vertical-align: middle; }
th								{ padding-top: 0.5em; background: #c0c0c0; font-weight: bold; }

/*
 * form elements
 */

input,
textarea,
select,
button								{ -moz-appearance: none; -webkit-appearance: none; background: #fff; padding: 0.125em 0.25em; border-radius: 0.25em; border: solid 1px #aaa; }

input[type=checkbox]				{ -moz-appearance: checkbox; -webkit-appearance: checkbox; }
input[type=radio]					{ -moz-appearance: radio; -webkit-appearance: radio; }

input:focus,
textarea:focus,
select:focus						{ box-shadow: 0 0 0.25em #aef; border-color: #0089CC !important; }

label,
input								{ display: inline-block; vertical-align: middle; }

select:not([size]),
select[size="1"]					{ display: inline-block; vertical-align: middle; padding-left: 24px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAPCAYAAAD+pA/bAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAUwAAAFMB8eliagAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACgSURBVDiNzZTBCcMwDEV/igboBvEo9UEHTRVnLl8yQlbIHgLnEoMoxFUdQvuONn4PG+GhlII7edxq/4tAjPHZs+cKMHMiolVEwvueiAQiWpk5dQWOgxOAUVUXGxGRoKoLgBHA1IpQq26okRcAGPlHhtaYmltUtho0a3POOXUFTiKWphxwTNEhmHvkrsBJxCUHHE9kqdPilX8d6OH3X8VVdriGSMCaxOn7AAAAAElFTkSuQmCC') no-repeat 0 50% #fff; text-indent: 0.1px; text-overflow: ""; }

button::-moz-focus-inner			{ border: 0; padding: 0; }
select::-ms-expand					{ display: none; }

input[disabled="disabled"],
textarea[disabled="disabled"]		{ background: #eee; }

option								{ padding: 0.125em 0.25em; }
								
/*
 * buttons and button-like anchors
 */

button,
a.buttonLink							{ display: inline-block; vertical-align: middle; padding: 0.25em 1em; background: #005680; color: #fff; font-weight: bold; border: solid 1px #003b59; border-radius: 0.25em; margin-right: 0.25em; transition: all 0.5s ease 0s; }

button:hover,
a.buttonLink:hover,
button:active,
a.buttonLink:active						{ color: #aef; cursor: pointer; }

button.active,
a.buttonLink.active						{ background: #0089CC; transition: all 0.5s ease 0s; }

.withIcon:before						{ font-family: icomoon; padding-right: 0.5em; font-weight: normal; content: attr(data-icon); line-height: 100%; }

span.iconOnly,
button.iconOnly,
a.iconOnly								{ font-family: icomoon; font-weight: normal; padding: 0.25em; color: #005680; background: none; border-color: transparent; border-width: 2px; line-height: 100%; }
span.iconOnly:before,
button.iconOnly:before,
a.iconOnly:before						{ content: attr(data-icon); }

button.iconOnly:hover,
button.iconOnly:active,
a.iconOnly:hover,
a.iconOnly:active						{ color: #005680; border-color: #005680; }

div.buttonBar							{ margin: 0.5em 0; }
span.buttonGroup						{ display: inline-block; margin-right: 0.25em; }
span.buttonGroup button					{ border-radius: 0; border-right-style: none; margin-right: 0; }
span.buttonGroup button:first-child		{ border-bottom-left-radius: 0.25em; border-top-left-radius: 0.25em; }
span.buttonGroup button:last-child		{ border-bottom-right-radius: 0.25em; border-top-right-radius: 0.25em; border-right-style: solid; }

/*
 * input group
 */

div.inputGroup.inline					{ display: inline-table; }
div.inputGroup							{ display: table; }
div.inputGroup *						{ border-radius: 0; border-color: #ccc ; border-style: solid; border-width: 1px 1px 1px 0; vertical-align: middle; padding-top: 0.125em; padding-bottom: 0.125em; margin: 0; }
div.inputGroup input,
div.inputGroup span						{ display: table-cell; }
div.inputGroup *:first-child			{ padding-left: 0.5em; border-top-left-radius: 0.25em; border-bottom-left-radius: 0.25em; border-left-width: 1px; }
div.inputGroup *:last-child				{ padding-right: 0.5em; border-top-right-radius: 0.25em; border-bottom-right-radius: 0.25em; }
div.inputGroup span.inputGroupBtn		{ padding: 0; width: 1%; white-space: nowrap; }
div.inputGroup .inputGroupBtn button	{ border: none; margin: -1px; border-radius: inherit; }

/*
 * stock form
 */

form									{ padding: 0.75em 0; }
label									{ padding-right: 0.5em; }
.formSect								{ margin-bottom: 0.75em; }
.formBase								{ margin-top: 0.25em; }
.formItem								{ padding: 0.5em 0; }

/*
 * multiple columns
 */

.multiColumnContainer:after				{ content: ''; display: block; clear: left; visibility: hidden; line-height: 0; height: 0; }
.multiColumnContainer .column			{ float: left; }

.multiColumnContainer.two .column		{ width: 50%; }
.multiColumnContainer.three .column		{ width: 33.3%; }

.three .column							{ padding: 0 0.5em; }
.three .column:first-child				{ padding: 0 1em 0 0; }
.three .column:last-child				{ padding: 0 0 0 1em; }

.two .column:first-child				{ padding-right: 0.75em; }
.two .column:last-child					{ padding-left: 0.75em; }

/*
 * predefined classes for combinations
 */

.xs										{ width: 2em; }
.xss									{ width: 3em; }
.s										{ width: 4em; }
.ssm									{ width: 6em; }
.sm										{ width: 8em; }
.m										{ width: 10em; }
.mml									{ width: 13em; }
.ml										{ width: 16em; }
.l										{ width: 20em; }
.lxl									{ width: 25em; }
.xl										{ width: 30em; }
.xxl									{ width: 40em; }
.xxxl									{ width: 50em; }

.pct_50									{ width: 50%; }
.pct_100								{ width: 100%; }

.smaller								{ font-size: 80%; }
.right									{ text-align: right; }
.centered								{ text-align: center; }
.leftFloat								{ float: left; }
.clearFloat								{ height: 0; clear: both; overflow: hidden; line-height: 0; visibility: hidden; }

/*
 * table classes
 */

table.list th							{ border-left: solid 1px #eee; }
table.list th:first-child				{ border-left: none; }

th.sortableHeader						{ cursor: pointer; }
th.vxJS_sorTable_header_desc,
th.vxJS_sorTable_header_asc,
th.sorted								{ background: #a0a0a0; }
th.vxJS_sorTable_header_desc:before,
th.vxJS_sorTable_header_asc:before		{ font-family: icomoon; font-weight: normal; content: "\e033"; vertical-align: middle; font-size: 150%; }
th.vxJS_sorTable_header_desc:before		{ content: "\e031"; }

tr.row0									{ background: #fff; }
tr.row1									{ background: #ddd; }

tr.row0 .active							{ background: #fff0e5; }
tr.row1 .active							{ background: #ffe1cc; }

/*
 * autosuggest widget
 */

.vxJS_autoSuggest						{ position: absolute; z-index: 100; border: 1px solid #ccc; box-shadow: 0 1px 0.75em #888; }
.vxJS_autoSuggest ul					{ color: #000; background: #fff; margin: 0; padding: 0; list-style-type: none; }
.vxJS_autoSuggest li					{ cursor: pointer; margin: 0; padding: 0.25em 0.5em; }
.vxJS_autoSuggest li.current			{ color: #0089CC; background: #ddd; }
.vxJS_autoSuggest li span				{ padding: 0 0.5em; }
.vxJS_autoSuggest li span.hiLite		{ color: #e59517; padding: 0; }

/*
 * calendar widget
 */

.calendarSkin							{ background: #fff; color: #e58600; box-shadow: 1px 1px 0.75em #000; border-radius: 0.25em; }
.calendarSkin div						{ padding: 0.25em; }
.calendarSkin .vxJS_dragBar				{ font-size: 80%; position: relative; padding: 0; margin: 0.25em 0.5em; }
.calendarSkin .mon						{ display: block; text-align: center; }
.calendarSkin .prevMon,
.calendarSkin .nextMon					{ cursor: pointer; display: block; position: absolute; top: 0; }
.calendarSkin .nextMon					{ right: 0; text-align: right; }
.calendarSkin .prevMon					{ left: 0; }
.calendarSkin table	  			 		{ font-size: 80%; border-collapse: separate; border-spacing: 2px; }
.calendarSkin th						{ padding: 0.125em 0.25em; text-align: center; color: #fff; vertical-align: middle; width: 1.75em; background: #aaa; }
.calendarSkin td						{ padding: 0.125em 0.25em; text-align: center; vertical-align: middle; cursor: pointer; background: #fff; height: 2.5em; }
.calendarSkin .trail					{ color: #aaa; }
.calendarSkin .weekCell					{ cursor: pointer; background: #99A5BD; }
.calendarSkin .today					{ background: #08c; color: #fff; border-radius: 0.125em; }
.calendarSkin .marked					{ background-color: #ff9400; color: #fff; border-radius: 0.125em; }
.calendarSkin .disabled					{ color: #888; cursor: default; }
.calendarSkin .prevMon:before			{ font-family: icomoon; content: "\e025"; }
.calendarSkin .nextMon:before			{ font-family: icomoon; content: "\e023"; }

/*
 * animated throbbers
 */

div.vxJS_xhrThrobber {
	display: inline-block;
	color: #005680;
	padding: 0.5em;
	text-align: center;
	vertical-align: middle;
	visibility: hidden;
	z-index: 100;
}
div.vxJS_xhrThrobber.active {
	visibility: visible;
	animation: load 1s infinite linear;
	-webkit-animation:  webkit-load 1s infinite linear;
}

div.vxJS_xhrThrobber:before {
	font-family: icomoon;
	content: "\e02f";
}

@keyframes load {
	0%		{ transform: rotate(0); }
	50%		{ transform: rotate(180deg); }
	100%	{ transform: rotate(360deg); }
}
@-webkit-keyframes webkit-load {
	0%		{ -webkit-transform: rotate(0); }
	50%		{ -webkit-transform: rotate(180deg); }
	100%	{ -webkit-transform: rotate(360deg); }
}

 