@import "~spectre.css/src/variables";

.circular-progress {
  circle:first-child {
    stroke: rgba(255, 255, 255, 0.5);
  }
  circle:last-child {
    transform: rotate(-90deg);
    transition: stroke-dashoffset 0.2s;
    transform-origin: 50% 50%;
    stroke: $primary-color;
  }
}