@import "../../node_modules/spectre.css/src/variables";

.cookie-consent {
  @include shadow-variant(.05rem);

  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 9999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  padding: $unit-2;
  background: $light-color;

  &.top {
    top: 0;
  }

  &.bottom {
    bottom: 0;
  }

  .buttons {
    display: flex;
  }

  .btn-accept, .btn-decline, .btn-link {
    @extend .btn;
  }
  .btn-decline {
    @include button-variant($error-color);
    margin-right: $unit-1;
  }
  .btn-accept {
    @include button-variant($success-color);
  }
}

.slideFromTop-enter, .slideFromTop-leave-to {
  transform: translate(0px, -12.500em);
}
.slideFromTop-enter-to, .slideFromTop-leave {
  transform: translate(0px, 0px);
}
.slideFromBottom-enter, .slideFromBottom-leave-to {
  transform: translate(0px, 12.500em);
}
.slideFromBottom-enter-to, .slideFromBottom-leave {
  transform: translate(0px, 0px);
}
.slideFromBottom-enter-active,
.slideFromBottom-leave-active,
.slideFromTop-enter-active,
.slideFromTop-leave-active {
  transition: transform .4s ease-in;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}