@import "~spectre.css/src/variables";

.slick-sort {
}

.slick-sort-item {
  padding: $unit-2 $unit-4;
  background: $bg-color-light;
  border-bottom: solid 1px $gray-color;
  user-select: none;
  display: flex;
  align-items: center;

  .handle {
    display: inline-block;

    &:before {
      font-family: icomoon;
      content: $icon-menu3;
      padding: 1rem;
    }
  }

  &.slick-sort-helper {
    background: $secondary-color-light;
    border: solid 1px $secondary-color-dark;
    border-radius: $border-radius;
  }

}