.vx-tree {

  li {
    list-style-type: none;

    label {
      display: inline-block;
    }

    span {
      vertical-align: middle;
      display: inline-block;
      cursor: pointer;
    }

    input {
      display: none;

      & + label:before {
        display: inline-block;
        width: 1.5rem;
        height: 1rem;
        vertical-align: middle;
        content: "";
        background: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="14" height="16"><path fill-rule="evenodd" fill="#{$primary_color}" d="M13 1H1c-.55 0-1 .45-1 1v12c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V2c0-.55-.45-1-1-1zm0 13H1V2h12v12zM6 9H3V7h3V4h2v3h3v2H8v3H6V9z"/></svg>') 50% 50% no-repeat;
      }

      & ~ ul {
        & > li {
          display: none;
        }
      }

      &:checked {
        & + label:before {
          background: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="14" height="16"><path fill-rule="evenodd" fill="#{$primary_color}" d="M13 1H1c-.55 0-1 .45-1 1v12c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V2c0-.55-.45-1-1-1zm0 13H1V2h12v12zm-2-5H3V7h8v2z"/></svg>') 50% 50% no-repeat;
        }

        & ~ ul {
          & > li {
            display: block;
          }
        }
      }
    }

    &.terminates {
      input:checked + label:before,
      input + label:before {
        background: none;
      }
    }
    &.current > span {
      font-weight: bold;
    }
  }
}

