{form {"class": "p-2"}}

<div class="form-item">
    {label:input_element {"class": "form-label"}}
    {element:input_element {"class": "form-input"}}
</div>

<div class="form-item">
    {label:checkbox_element {"class": "form-label"}}
    {element:checkbox_element {"class": "form-checkbox"}}
</div>

<div class="form-item">
    {label:select_element {"class": "form-label"}}
    {element:select_element {"class": "form-select"}}
</div>

<div class="form-item">
    {label:radio_element {"class": "form-label"}}
    {element:radio_element {"class": "form-radio"}}
</div>

<div class="form-item">
    {label:input_array {"class": "form-label"}}
    {element:input_array {"class": "form-input"}}
    {label:input_array {"class": "form-label"}}
    {element:input_array {"class": "form-input"}}
    {label:input_array {"class": "form-label"}}
    {element:input_array {"class": "form-input"}}
</div>

<div class="form-item">
    {element:submit {"class": "btn btn-success"}}
</div>

{end_form}